:root.theme-dark {
  --page-bg-image: url(../images/cover-image-dark.png);
  --page-bg-color: var(--dark-navy);
  --header-title-text-color: var(--purple);
  --footer-title-text-color: var(--purple);
  --decorated-zone-border-color: var(--hot-pink);
  --title-decor-text-color: var(--dark-navy);
  --title-decor-bg-color: var(--hot-pink);
  --content-title-text-color: var(--hot-pink);
  --accent-color: var(--hot-pink);
  --card-text-color: var(--rose-pink);
  --button-text-color: var(--hot-pink);
  --button-border-hover-color: var(--hot-pink-40);
}