:root.theme-light {
  --header-decor-display: none;
  --page-bg-image: url(../images/cover-image-light.png);
  --page-bg-color: var(--pale-pink);
  --header-title-text-color: var(--light-pink);
  --footer-title-text-color: var(--light-pink);
  --decorated-zone-border-color: var(--charcoal-gray);
  --title-decor-text-color: var(--charcoal-gray);
  --title-decor-bg-color: var(--soft-pink);
  --content-title-text-color: var(--charcoal-gray);
  --accent-color: var(--soft-pink);
  --card-text-color: var(--charcoal-gray);
  --button-text-color: var(--charcoal-gray);
  --button-border-hover-color: var(--charcoal-gray-40);
}

@media (prefers-color-scheme: light) {
  :root {
    --header-decor-display: none;
    --page-bg-image: url(../images/cover-image-light.png);
    --page-bg-color: var(--pale-pink);
    --header-title-text-color: var(--light-pink);
    --footer-title-text-color: var(--light-pink);
    --decorated-zone-border-color: var(--charcoal-gray);
    --title-decor-text-color: var(--charcoal-gray);
    --title-decor-bg-color: var(--soft-pink);
    --content-title-text-color: var(--charcoal-gray);
    --accent-color: var(--soft-pink);
    --card-text-color: var(--charcoal-gray);
    --button-text-color: var(--charcoal-gray);
    --button-border-hover-color: var(--charcoal-gray-40);
  }
}